#collNavbar {
    transition: .3s ease-in-out;
}

._bg-color-purple,
.dropdown-item.active {
    background-color: var(--purple) !important;
}

.navbar-toggler {
    border: 0px;
    padding: 0.30rem;
}

.hamburger {
    padding: .3rem;
}

.hamburger-box {
    width: 30px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    height: 2.9px;
    width: 28px;
    border-radius: 10px;
    background-color: white;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    height: 2.6px;
    width: 28px;
    border-radius: 10px;
    background-color: var(--red);
}

.hamburger-inner:before {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-toggle::after {
    display: none;
}

/* skip to main content */
.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    padding: 8px;
    z-index: 100;
    transition: .3s ease-in-out;
}

.skip-link:focus {
    top: 0;
}

@media (max-width: 991px) {
    .full-navbar-mobile {
        padding-bottom: 100vh;
    }

    ._m-nav-mobile {
        margin-top: 20px !important;
    }

    /* dropdown icon rotate when mobile */
    [data-bs-toggle="dropdown"][aria-expanded="true"]>.icon-rotates::before {
        transform: rotate(180deg) !important;
    }

    .icon-rotates::before {
        transition: .2s ease-in-out;
        float: right;
    }

    .register,
    .auth {
        margin-top: 15px;
        border-top: 1px solid #68667b;
    }
}

@media (min-width: 992px) {
    .nav-link:hover {
        color: white !important;
    }

    .hamburger {
        display: none;
    }

    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        color: white;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    /* rotate dropdown icon */
    .navbar .nav-item:hover .icon-rotates::before {
        transform: rotate(180deg) !important;
    }

    .icon-rotates::before {
        transition: .2s ease-in-out;
    }

    .calendarHide,
    .trophyHide,
    .infoHide {
        display: none;
    }
}