.bg-total-price {
    background-image: url('../assets/images/bg-price.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100% !important;
    height: 1000px;
}

.bg-blur-total-prize {
    width: 75%;
    height: 30%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.10);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.bg-hero-total-prize {
    height: inherit;
}